@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 768px) {
    p {
      font-size: 14px;
      margin: 5vw 5vw 10vw 5vw
  }
}

@media (max-width: 768px) {
    .embla__slide {
        flex: 0 0 50%; /* Breakpoint SM slide covers 50% of the viewport */
    }
}
.title {
    font-size: 40px;
    font-style: italic;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  
  /* Styles for the content container */
  .content {
    width: 70%;
    margin: auto;
  }

  .content p {
    text-align: left;
    margin-bottom: 1.5em;
  }


.embla {
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    margin-top: 10px; 
    margin-bottom: 10px;
  }

  
  .embla__slide img {
    width:100%
  }

  @media screen and (max-width: 768px) {
    .embla {
      height: 50vh; 
      
    }
    .embla__slide {
        flex: 0 0 100%; 
        min-width: 0; 
        display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
      }
    
      .embla__slide img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
  }
  

  .embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}

@media screen and (max-width: 768px) {
    .embla__button {
      width: 2.4rem;
      height: 2.4rem; 
  }
}

.about-page-info {
  display: flex;
  font-size: 14px;
}

.about-page-info .items-left {
  width: 50vw;
  margin-right: 10px;
  margin-top:10px;
  margin-bottom: 20px;
}

.about-page-info .items-right {
  width: 50vw;
  height: auto;
  overflow: hidden;
  padding-bottom: 80px;
}

/* Media query for screens smaller than 600px (typical mobile screen size) */
@media (max-width: 768px) {
  .about-page-info {
    flex-direction: column;  
  }

  .about-page-info .items-left {
    width: 50vw;
    margin-right: 10px;
    margin-top:30px;
    margin-bottom: 60px;
    width: 120%;
  }
  .about-page-info .items-right {
    width: 100%; 
  font-size: 14px;
    margin-right: 0; 
  }
}

.about-page-text {
  display: flex;
  font-size: 14px;
}

.about-page-text .text-column{
  width: 55vw;
  margin-top:30px;
  margin-bottom: 60px;

}
.about-page-text .image-column {
  height: auto;
  font-size: 14px;
  width: 45vw;
  margin-Left: 70px;
  margin-top:30px;
  margin-bottom: 60px;
  
}

.about-page-text .text-column h2,
.about-page-text .image-column h2 {
  margin-bottom: 20px;
}

.about-page-text .text-column p,
.about-page-text .image-column p {
  margin-bottom: 10px;
}

/* Media query for screens smaller than 600px (typical mobile screen size) */
@media (max-width: 768px) {
  .about-page-text {
    flex-direction: column; /* Display content in a single column */
  }

  .about-page-text .text-column{
    width: 100%; 
    
  }
  
  .about-page-text .image-column {

  }
}

.introduction-container {
  width: auto;
  height: 800px;
  background-color: black;
  color: white;
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 50%;
  margin-left: 50px;
  margin-top: 50px;
}

.right-content {
  width: 50%;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 50px;
}

.center-text {
  font-size: 10rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 9px;
  position: absolute;
  width: 100%; 
  margin-top: 150px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .introduction-container {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 20px;
  }
  .flex-container {
    flex-direction: column;
  }

  .left-content,
  .right-content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .center-text {
    font-size: 5rem;
    text-align: left;
    font-weight: bold;
    letter-spacing: 3px;
    width: 100%; 
    position: static;
  }
}

/* PageInfo.css */

/* Container styles */
.page-info-container {
  width: 100%;
}

/* Iframe styles */
.iframe-container {
  max-width: 100%;
}

/* Text content styles */
.text-content {
  margin: 20px;
  text-align: justify;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 250px;
}

/* Image grid styles */
.image-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  object-fit: cover;
}

/* Image item styles */
.image-item {
  width: calc(50% - 100px);
  margin-bottom: 10px;
  margin-left: 95px;
}

/* Credits container styles */
.credits-container {
  display: flex;
  justify-content: space-between;
}

/* Credits text styles */
.credits-text {
  width: 50%;
  padding: 100px;
  margin-left: 80px;
}


@media (max-width: 768px) {
  .page-info-text {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .image-item {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .credits-text {
    width: 100%;
    padding: 20px;
    margin-left: 0;
  }
}

/* PageInfo.css */

/* Main container */
.page-info-container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Video iframe */
.page-info-video {
  width: 100%;
  height: 786px; /* Default height for larger screens */
}

/* Title */
.page-info-title {
  margin-top: 50px;
  font-size: 50px;
  text-align: center;
  font-style: italic;
}

/* Subtitle */
.page-info-subtitle {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-style: italic;
}

/* Text content */
.page-info-text-content {
  margin: 20px;
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
}

/* Image grid */
.page-info-image-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Individual images */
.page-info-image-item {
  width: calc(50% - 100px);
  margin-bottom: 10px;
}

/* Credits section */
.page-info-credits {
  display: flex;
  justify-content: space-between;
}

/* Credits text */
.page-info-credits-text {
  width: 50%;
  padding: 150px;
}

/* Video credits text */
.page-info-video-credits-text {
  width: 50%;
  padding: 150px;
}

/* Special thanks section */
.page-info-special-thanks {
  margin-top: 50px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  /* Video iframe */
  .page-info-video {
    height: auto; /* Adjusting height to auto for smaller screens */
  }

  /* Title */
  .page-info-title {
    font-size: 30px;
  }

  /* Subtitle */
  .page-info-subtitle {
    font-size: 20px;
  }

  /* Text content */
  .page-info-text-content {
    margin-left: 2px;
    margin-right: 2px;
  }

  /* Individual images */
  .page-info-image-item {
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }

  /* Credits section */
  .page-info-credits {
    flex-direction: column;
    align-items: center;
  }

  /* Credits text */
  .page-info-credits-text,
  .page-info-video-credits-text {
    width: auto;
    padding: 20px;
    text-align: center;
  }

  /* Special thanks section */
  .page-info-special-thanks {
    margin-top: 20px;
  }
}
